.form-container {
	display: flex;
	flex-flow: column;
	background-color: $ice-blue;
	width: 50%;
	margin: auto;
	border-radius: 10px;
	padding: 2% 0;

	@media (max-width: 800px) {
		width: 95%;
	}
}

#register-button,
#login-button {
	margin: 3% 0;
}
